
.login {
    
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    
    button {
        width: 100%;
    }
}